header {
  height: 84px;
}
.container {
  max-width: 1235px;
  width: 100%;
  margin: 0 auto;
}

.goflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
}
ul {
  display: flex;
  gap: 50px;
}

.logo {
  width: 60px;
  height: 55px;
}

li a {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fa-bars {
  display: none;
}

/*header დასასრული*/

.s1 {
  background-image: url("../images/perfume.jpg");
  background-color: blue;
  background-repeat: no-repeat;
  background-size: cover;
  height: 404px;
  margin-bottom: 72px;
}

.h1 {
  color: #222;
  font-family: "Rockwell Extra Bold";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
}

.s2 {
  margin-bottom: 100px;
}

.goflex2 {
  display: flex;
  gap: 50px;
}

.infowrapper {
  width: 235px;
}

.infowrapper h3 {
  color: black;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}

.infowrapper p {
  color: black;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardswrapper {
  max-width: 924px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  column-gap: 10px;
}

.card {
  width: 286px;
}

.card img {
  width: 286px;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.card h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 40px;
}

.card p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.card2 {
  width: 286px;
}

.card2 img {
  width: 286px;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.card2 h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 40px;
}

.card2 p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.card3 {
  width: 286px;
}

.card3 img {
  width: 286px;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.card3 h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 40px;
}

.card3 p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.card4 {
  width: 286px;
}

.card4 img {
  width: 286px;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.card4 h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 40px;
}

.card4 p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.card5 {
  width: 286px;
}

.card5 img {
  width: 286px;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.card5 h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 85px;
}

.card5 p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.card6 {
  width: 286px;
}

.card6 img {
  width: 286px;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.card6 h3 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 85px;
}

.card6 p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 100px;
}

.footerdiv {
  width: 1515px;
  height: 201px;
  background-color: #243043;
  margin-top: 36px;
}

.a2 {
  color: #818687;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 59px;
  margin-bottom: 20px;
}

.footer-left-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 59px;
}
.footer-middle-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-left: 75px;
  margin-top: 59px;
}

.a6 {
  color: #818687;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.a4 {
  color: #818687;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-right-wrapper {
  display: inline-block;
  vertical-align: top;
  margin-top: 59px;
  margin-left: 75px;
}

.textdiv {
  display: inline-block;
  vertical-align: top;
  margin-top: 59px;
}

h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 300px;
}

.footerimg {
  margin-top: 59px;
  margin-left: 340px;
}

/*index.html დასრულდა */

.aimg {
  width: 1240px;
  height: 512px;
  flex-shrink: 0;
}

.ah3 {
  color: #000;
  font-family: "Rockwell Extra Bold";
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 15px;
}

.ap {
  color: #000;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 20px;
}

.aa {
  color: red;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-top: 20px;
}

.newsimg {
  width: 1240px;
  height: 480px;
  flex-shrink: 0;
}

.h11 {
  color: #000;
  font-family: "Rockwell Extra Bold";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}

.h33 {
  color: #000;
  font-family: "Rockwell Extra Bold";
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}

.np {
  color: #000;
  font-family: Rockwell;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 15px;
}

.h333 {
  color: #000;
  font-family: "Rockwell Extra Bold";
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}

.np2 {
  color: #000;
  font-family: Rockwell;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin-bottom: 15px;
}

.s5 {
  background-color: #e7e7e7;
  padding: 100px 0 100px 100px;
}

.ch3 {
  color: black;
  font-family: "Helvetica Neue";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}

.cp {
  color: black;
  font-family: "Helvetica Neue LT GEO";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.contactdiv {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}
